<!DOCTYPE html>
<html>
<head>
    <title>스마트그리드 실시간 모니터링</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <h2>실시간 전력 모니터링</h2>
    <canvas id="powerChart"></canvas>
    <canvas id="currentChart"></canvas>
    <canvas id="voltageChart"></canvas>

    <script>
        const socket = io();

        const labels = [];
        const maxPoints = 60;

        const powerData = [];
        const predictedData = [];

        const ctx = document.getElementById('powerChart').getContext('2d');

        const powerChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels+30,
                datasets: [
                    {
                        label: 'power (W)',
                        data: powerData,
                        borderColor: 'blue',
                        fill: false,
                        tension: 0.2
                    },
                    {
                        label: 'predicted power (W)',
                        data: predictedData,
                        borderColor: 'orange',
                        borderDash: [5, 5],
                        fill: false,
                        tension: 0.2
                    }
                ]
            },
            options: {
                animation: false,
                responsive: true,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'time'
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Power (W)'
                        }
                    }
                }
            }
        });

        function createChart(ctx, label, color) {
            return new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: label,
                        data: [],
                        borderColor: color,
                        fill: false
                    }]
                },
                options: {
                    animation: false,
                    responsive: true,
                    scales: {
                        x: {
                            display: true
                        },
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        const currentChart = createChart(document.getElementById('currentChart'), '전류 (A)', 'red');
        const voltageChart = createChart(document.getElementById('voltageChart'), '전압 (V)', 'green');

        socket.on('sensor_data', function(data) {
            const now = new Date().toLocaleTimeString();

            if (labels.length >= maxPoints) {
                labels.shift();
                powerData.shift();
                predictedData.shift();
            }
            labels.push(now);

            function updateChart(chart, value) {
                const data = chart.data.datasets[0].data;
                if (data.length >= maxPoints) data.shift();
                data.push(value);
                chart.update();
            }

            powerData.push(data.power);
            predictedData.push(data.predicted_power);

            powerChart.update();
            updateChart(powerChart, data.power);
            updateChart(currentChart, data.current);
            updateChart(voltageChart, data.voltage)
        });
    </script>
</body>
</html>
